.logo {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  background: url(../images/logo-ANSWER.svg);
  background-repeat: no-repeat;
  width: 151px;
  height: 40px;
  display: block;
}