//table
table {
    border-collapse: collapse;
}

thead th {
    border-bottom: 1px solid $primary;
}
tbody tr th, td {
    border-bottom: 1px solid $light;
}

//pagination
.page-link {
    color: $primary;
    padding: 6px 12px;
    border: 1px solid $secondary;
    &:hover {
        background: $secondary;
        color: $white;
    }
}
.page-link-turn {
    color: $secondary;
    &:hover {
        background: $secondary;
        color: $white;
    }
}


.cursor-p {
    cursor: pointer
}